/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

#admin-pannel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: black;
	margin: 0px;
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
}

.edition-intro {
	color: white;
	margin: 0px 15px;

}

input[type="submit"].edition-changes  {
	
	background: #FFFFFF;
	border-radius: 60px;
	color: #000000;
	width:auto;
	margin: 5px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

input.edition-changes:focus, textarea.edition-changes:focus {
	box-shadow: 0px 4px 14px  gray;
	outline      : none;
  }

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3{
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	margin: 30px;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav img {
	height: 18px;
	padding-top: 5px;
}

li:hover {
	color: #B1663C;
}

.page-active {
	font-weight: 600;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

.admin-actions {
	margin-left: calc(min(57px, 5vw));
	margin-top: 5px;
}

.admin-actions:hover {
	color: #B1663C;
}

.Projects-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery-filters {
	justify-content: center;
	display: flex;
}

.gallery-filter {
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	padding : 5px 10px;
	margin : 20px 5px;
	min-width: 100px;

	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

.hidden {
	display: none;
}

.selected {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#galleryModal {
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #B3B3B3;
}



#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

label {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	color: #3D3D3D;
	margin: 0.4em 0em;
	text-align: left;
}

.loginSection {
	max-width: 380px;
	margin: auto;
	text-align: center;
}

.loginForm {
	display: flex;
	flex-direction: column;
	margin-top: 3em;
}

input{
	
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	margin-bottom: 1em;
	height: 2em;

}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input:focus, textarea:focus {
	box-shadow: 0px 4px 14px  #1D6154;
	outline      : none;
  }
  

.forgot-password {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: underline;
	border: none;
	color: #3D3D3D;
	background-color: inherit;

}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
	min-width: 350px;
	max-height: 90vh;
	background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 9999; /* Assure que la modale s'affiche au-dessus du contenu */
    display: none; /* Par défaut, la modale est cachée */
	padding: 15px 0px;
}

.modal.active {
    display: flex; /* Affiche la modale lorsque la classe "active" est ajoutée */
	flex-direction: column;
	align-items: center;
}


.icons {
	position: relative;
	top: -75%;
}

.enlarge {

	visibility: hidden;
	background-color: black;
	color: #FFFFFF;
	font-size: 10px;
	position: absolute;
	right: 20px;
    margin: 0;
    padding: 4px;
	border-radius: 5px;
}

.figureModale:hover .enlarge {
	visibility: visible;
}

.bin {
	display: block;
	background-color: black;
	color: #FFFFFF;
	font-size: 10px;
	position: absolute;
	right: 2px;
    margin: 0;
    padding: 4px;
	border-radius: 5px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(128, 128, 128, 0.5); /* Couleur grise semi-transparente */
	z-index: 9998; /* Place l'overlay juste en dessous de la modale */
    display: none; /* Par défaut, l'overlay est caché */
}

.overlay.active {
    display: block; /* Affiche l'overlay lorsque la classe "active" est ajoutée */
}

.close-modal {
    position: absolute;
    top: 5%;
    right: 5%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

.delete-all {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	width: 180px;
	text-align: center;
    color: #D65353;
	border-style : none ;
	box-shadow : none;
}

.delete-all:focus {
	box-shadow: none;
}

.alreadyConnected {
	display: flex;
	flex-direction: column;
	gap: 20px;
}